<h1>New user</h1>

<%= form_for :user, url: '/users' do |f| %>

    <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
    </div>
    <div>
        <%= f.label :user_id %><br>
        <%= f.password_field :user_id %>
    </div>
    <div>
        <%= f.label :admin %>
        <%= f.check_box :admin %>
    </div>
  
  <%= f.submit "Submit" %>
  <%= link_to 'Back', books_path %>

<% end %>

