<div id="sidebar">
  <!--if user_is_logged_in? -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Things to do..</h3>
  </div>
  <div class="panel-body">
    <p><span class="glyphicon glyphicon-list"></span>
      <%= link_to 'All Books', books_path %>
    </p>
    <p><span class="glyphicon glyphicon-user"></span>
      <%= link_to 'Authors', books_path %>
      </p>
    <p><span class="glyphicon glyphicon-calendar"></span>
      <%= link_to 'My Reservations', books_path%>
      </p>
    <!-- if show_details == true -->
      <p><span class="glyphicon glyphicon-download-alt"></span>
        <%= link_to 'New Book', new_book_path %>
      </p>
      <p><span class="glyphicon glyphicon-download-alt"></span>
        <%= link_to 'Overdue Books', books_path %> 
      </p>
    <!-- end -->
    
    <p><span class="glyphicon glyphicon-off"></span>
      <%= link_to 'Log out', session_path(:user_id), method: :delete%>
    </p>
  </div>
</div>
<!-- end -->
</div> 